src/KerbalData/Configuration/LibraryConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:KerbalData.Configuration" elementFormDefault="qualified" targetNamespace="urn:KerbalData.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="kerbalData" type="tns:KerbalData.Configuration.ApiConfigCT" />
	<xs:complexType name="KerbalData.Configuration.ApiConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="processors" type="tns:KerbalData.Configuration.ProcessorsConfigCT">
				<xs:annotation>
					<xs:documentation>The Processors.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="repositories" type="tns:KerbalData.Configuration.RepositoriesConfigCT">
				<xs:annotation>
					<xs:documentation>The Repositories.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="KerbalData.Configuration.ProcessorsConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="processor" type="tns:KerbalData.Configuration.ProcessorConfigCT">
				<xs:annotation>
					<xs:documentation>The ProcessorConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="KerbalData.Configuration.ProcessorConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="serializer" type="tns:KerbalData.Configuration.SerializerConfigCT">
				<xs:annotation>
					<xs:documentation>The Serializer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="converter" type="tns:KerbalData.Configuration.ConverterConfigCT">
				<xs:annotation>
					<xs:documentation>The Converter.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="index" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Index.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="modelType" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ModelType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="KerbalData.Configuration.SerializerConfigCT">
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="KerbalData.Configuration.ConverterConfigCT">
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="KerbalData.Configuration.RepositoriesConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="repositoryConfig" type="tns:KerbalData.Configuration.RepositoryConfigCT">
				<xs:annotation>
					<xs:documentation>The RepositoryConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="KerbalData.Configuration.RepositoryConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="parameters" type="tns:KerbalData.Configuration.RepoParametersConfigCT">
				<xs:annotation>
					<xs:documentation>The Parameters.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="index" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Index.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="KerbalData.Configuration.RepoParametersConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="repoParameterConfig" type="tns:KerbalData.Configuration.RepoParameterConfigCT">
				<xs:annotation>
					<xs:documentation>The RepoParameterConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="KerbalData.Configuration.RepoParameterConfigCT">
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
